   
   {%load static%}
   <!-- Footer -->
   <footer class="text-center text-lg-start bg-light">
    <!-- <img class="wave" src="{% static '/images/wave.png' %}" width="500" height="80" > -->
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Connectez avec nous sur les reseaux sociaux:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i> Projet De stage 
            </h6>
            <p>
              Un application Web  qui creer les CV realiser par les Etudiant Muhamedou Ahmed Mahmoud C14507 et Elhassen Mohamed C14466
              Sont Encadré par les docteurs Mustapha Cheikh Encadreur Professionnel Dans la Societe Smart DEV et le DR. Bennani Encadreur pedagogique de l'universite de nouakchott ELASSRIYA
            </p>
          </div>
       <!-- Grid column -->
       <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            
        <h6 class="text-uppercase fw-bold mb-4">
          
        </h6>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
        <p>
          <a href="#!" class="text-reset"></a>
        </p>
      </div>  
      <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              
            </h6>
            <p>
              <a href="#!" class="text-reset"></a>
            </p>
            <p>
              <a href="#!" class="text-reset"></a>
            </p>
            <p>
              <a href="#!" class="text-reset"></a>
            </p>
            <p>
              <a href="#!" class="text-reset"></a>
            </p>
          </div>  
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 222 32 33 58 32</p>
            <!-- <p><i class="fas fa-print me-3"></i> + 222 32 33 58 32</p> -->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#">SMART DEV</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->